<?xml version="1.0" encoding="UTF-8" ?>
<!-- 一般根节点不需要写属性，使用默认的就好 -->
<configuration>
    <!-- 定义一个将日志输出到控制台的 appender，名称为 CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <!-- 定义一个将日志输出到文件的 appender，名称为 FILE -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>log/output.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/output.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- 指定 com.otakuhuang.blog 包下的日志打印级别为 INFO，但是由于没有引用 appender，所以该 logger 不会打印日志信息，日志信息向上传递 -->
    <logger name="com.otakuhuang.blog" level="DEBUG"/>



    <!-- 指定最基础的日志输出级别为 DEBUG，并且绑定了名为 CONSOLE 和 FILE 的 appender，表示将日志信息输出到控制台 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>